.header-desafio {
     padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.header-desafio .brand {
    color: #2C3E50 !important;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
.header-desafio-content{
    display: flex;
   
 
}

.header-desafio .progress-bar-container {
     flex: 1;
    height: 8px;
    background-color: #7f8c8d;
    border-radius: 10px;
    overflow: hidden;
}
.header-desafio-back {
  display: flex;
  align-items: center;
}
.header-desafio-progress {
  display: flex;
  align-items: center;
  gap: 15px;
}

.back-icon {
  width: 50px;
  height: 50px;
}
.header-desafio .progress-bar-fill {
    height: 100%;
    background-color: #A3DFFD;
    border-radius: 10px;
    transition: width 0.3s ease;
}
.header-desafio-icons {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-top: 15px;
}
.header-desafio-top{
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #A3DFFD;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
}

.icon-btn img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.progress-bar-container {
  flex: 1;
}